In [5]:
import pandas as pd

df = pd.read_csv('updated-salary.csv')
pd.options.display.float_format = '{:,.2f}'.format
df

,Rank,Major,Degree Type,Early Career Pay,Mid-Career Pay,% High Meaning
0,1,Petroleum Engineering,Bachelors,"$92,300","$182,000",69%
1,2,Electrical Engineering & Computer Science (EECS),Bachelors,"$101,200","$152,300",46%
2,3,Applied Economics and Management,Bachelors,"$60,900","$139,600",67%
3,3,Operations Research,Bachelors,"$78,400","$139,600",52%
4,5,Public Accounting,Bachelors,"$60,000","$138,800",49%
5,6,Chemical Engineering/Materials Science & Engin...,Bachelors,"$74,500","$137,800",60%
6,7,Quantitative Business Analysis,Bachelors,"$67,900","$136,200",55%
7,8,Pharmacy,Bachelors,"$66,300","$133,200",79%
8,9,Aeronautics & Astronautics,Bachelors,"$74,000","$133,100",60%
9,10,Systems Engineering,Bachelors,"$74,000","$132,900",54%
10,11,Electrical Power Engineering,Bachelors,"$73,100","$130,700",67%
11,12,Actuarial Mathematics,Bachelors,"$61,900","$130,500",50%
12,13,Aerospace Studies,Bachelors,"$50,300","$130,300",-
13,14,Chemical Engineering,Bachelors,"$73,500","$128,900",56%
14,15,Actuarial Science,Bachelors,"$64,700","$128,700",42%
15,16,Information & Computer Science,Bachelors,"$70,300","$127,600",60%
16,17,Aeronautical Engineering,Bachelors,"$71,600","$125,900",64%
17,18,Operations & Information Systems Management,Bachelors,"$63,800","$125,100",31%
18,18,Political Economy,Bachelors,"$58,200","$125,100",34%
19,20,Marine Engineering,Bachelors,"$74,700","$125,000",64%
20,21,Computer Systems Engineering,Bachelors,"$74,600","$124,800",49%
21,22,Nuclear Engineering,Bachelors,"$73,100","$124,500",63%
22,23,Computer Science (CS) & Engineering,Bachelors,"$74,000","$124,000",44%
23,24,Corporate Accounting & Finance,Bachelors,"$61,200","$123,600",57%
24,25,Electrical & Computer Engineering (ECE),Bachelors,"$73,900","$123,300",49%